<script>
  import autocomplete from 'accessible-autocomplete'
  import search from 'fuzzysearch'
  import { nanoid } from 'nanoid'
  import isOnline from 'is-online'
  import { rawTimeZones } from '@vvo/tzdb'
  import day from 'dayjs'
  import customParseFormat from 'dayjs/plugin/customParseFormat'
  import { onMount } from 'svelte'
  import { pouch, replicateToCouch } from '../couch'
  import { isDarkMode, is24Hrs } from '../stores'

  document.title = 'Create Times - Koro'
  day.extend(customParseFormat)
  let times = {
    _id: `t:${nanoid()}`,
    times: [

    ]
  }
  let currentTime = {
    time: null,
    timezone: ''
  }

  let timeInput = ''
  let timezoneInput = ''
  let errorFlash = ''
  let success = false
  let isValidTime = false
  const tzs = rawTimeZones
  const tzlist = tzs.map(tz => {
    return { str: `${tz.name} (${tz.abbreviation})`, name: tz.name }
  })

  function parseTime (evt) {
    const time = evt.target.value
    const match = day(time, ['YYYY MM DD HH:mm', 'MM DD HH:mm', 'YYYY MM DD hh:mm', 'MM DD hh:mm'], true)
    if (match.isValid()) {
      currentTime.time = match.toISOString()
      isValidTime = true
    } else {
      isValidTime = false
    }
  }

  function addTime () {
    const copiedCurrentTime = Object.assign({}, currentTime)
    times.times = [...times.times, copiedCurrentTime]
  }

  function removeTime (i) {
    return () => {
      times.times.splice(i, 1)
      times = times
    }
  }

  function submitForm () {
   
  }

  function timezoneSource (query, cb) {
    if (tzlist.includes(query)) db([])
    const filtered = tzlist.filter(d => search(query.toLowerCase(), d.str.toLowerCase()))
    cb(filtered)
  }

  onMount(async () => {
    if (!(await isOnline())) {
      errorFlash = `You're offline! This means you can still create times, but you'll have to be online before you can share the link with others.`
    }

    autocomplete({
      element: document.querySelector('#timezone-mount'),
      id: 'timezone',
      source: timezoneSource,
      confirmOnBlur: false,
      onConfirm: (opt) => {
        currentTime.timezone = opt.name
      },
      templates: {
        inputValue (opt) {
          return opt && opt.str
        },
        suggestion (s) {
          return s.str
        }
      }
    })
  })
</script>


<h1 class="text-5xl font-serif font-extrabold">Create Times</h1>
{#if success}
  blah
{:else}
  <form class="max-w-xl mt-6" on:submit|preventDefault={submitForm}>
    {#if errorFlash}
      <div
        class="w-full bg-red-100 px-3 py-2 border rounded border-red-400
        text-red-600 my-5">
        {errorFlash}
      </div>
    {/if}

    <label
      for="time"
      class="font-bold text-gray-300 inline-block mt-4"
      class:text-gray-600={!$isDarkMode}>
      Time and Date
    </label>
    <input
      id="time"
      on:keyup={parseTime}
      class:dark={$isDarkMode}
      placeholder="(YYYY) MM DD hh:mm"
      type="text">
    <div class:text-red-400={!isValidTime} class:text-green-400={isValidTime}>
      {#if isValidTime}
        Looks good!
      {:else}
        Check that you entered the date correctly!
      {/if}
    </div>

    <label
      for="timezone"
      class="font-bold text-gray-300 inline-block mt-4"
      class:text-gray-600={!$isDarkMode}>
      Source Timezone (type to see options)
    </label>
    <div id="timezone-mount" class="mb-5" class:dark={$isDarkMode} />
    <button
      class="btn mt-5"
      on:click|preventDefault={addTime}
      type="submit">
      Add time
    </button>
  </form>

  <ul class="list-disc my-3">
    {#each times.times as time, i}
      <li>
        <span class="hover:cursor-pointer" on:click={removeTime(i)}>❌</span>
        <span class="font-bold">{day(time.time).format(`DD/MM/YYYY ${$is24Hrs ? 'HH:mm' : 'hh:mma'}`)}</span> in <span class="font-bold">{tzs.find(tz => tz.name === time.timezone).abbreviation}</span>
      </li>
    {/each}
  </ul>
{/if}
