<script>
  import { nanoid } from 'nanoid'
  import isOnline from 'is-online'
  import { onMount } from 'svelte'
  import { pouch, replicateToCouch } from '../couch'
  import { isDarkMode } from '../stores'

  document.title = 'Create Poll - Koro'
  let poll = {
    _id: `p:${nanoid()}`,
    question: '',
    answers: [],
    isMulti: false,
    showResultsBeforeVoting: true
  }
  let answerInput = ''
  let errorFlash = ''
  let submitting = false
  let success = false
  let pollLink = ''

  function answerKeyPress(evt) {
    if (evt.keyCode === 10 || evt.keyCode === 13) {
      addAnswer()
    }
  }

  function addAnswer() {
    poll.answers.push(answerInput)
    // So that Svelte rerenders
    poll = poll
    answerInput = ''
  }

  function removeAnswer(i) {
    return () => {
      poll.answers.splice(i, 1)
      poll = poll
    }
  }

  async function submitForm(evt) {
    if (evt.explicitOriginalTarget.id === 'answers') {
      return
    }

    errorFlash = ''
    submitting = true
    if (!poll.question) {
      errorFlash = 'Please provide a question or prompt!'
      submitting = false
      return
    }

    if (poll.answers.length === 0) {
      errorFlash = 'Please provide at least one answer!'
      submitting = false
      return
    }

    const db = await pouch()
    try {
      const res = await db.put(poll)
      await replicateToCouch()
      success = true
      pollLink = `https://koro.moe/p/${res.id}`
    } catch (e) {
      console.error(e)
    }
  }

  onMount(async () => {
    if (!(await isOnline())) {
      errorFlash = `You're offline! This means you can still create a poll, but you'll have to be online before you can share the link with others.`
    }
  })
</script>

<h1 class="text-5xl font-serif font-extrabold">Create Poll</h1>

{#if success}
  <p class="text-2xl font-medium max-w-xl leading-normal">
    Your poll has been successfully created! You can share the link below with
    anyone you want, and they'll be able to answer. Don't forget to do it
    yourself!
  </p>

  <div
    class="text-2xl font-mono bg-black text-white max-w-xl w-full px-3 py-2 mt-5
    text-center">
    {pollLink}
  </div>
{:else}
  <p class="text-2xl font-medium max-w-xl leading-normal">
    Here, you can create a very basic poll with a question and multiple answers,
    which respondents can then pick from.
  </p>

  <form class="max-w-xl mt-6" on:submit|preventDefault={submitForm}>
    {#if errorFlash}
      <div
        class="w-full bg-red-100 px-3 py-2 border rounded border-red-400
        text-red-600 my-5">
        {errorFlash}
      </div>
    {/if}
    <label
      for="question"
      class="font-bold text-gray-300"
      class:text-gray-600={!$isDarkMode}>
      Your question or prompt
    </label>
    <input
      id="question"
      type="text"
      bind:value={poll.question}
      class:dark={$isDarkMode}
      placeholder="Tea or coffee!" />

    <label
      for="answers"
      class="font-bold text-gray-300 inline-block mt-4"
      class:text-gray-600={!$isDarkMode}>
      Write your answers here, one by one
    </label>
    <input
      id="answers"
      type="text"
      bind:value={answerInput}
      class:dark={$isDarkMode}
      on:keydown={answerKeyPress}
      placeholder="Press Enter to add answers!" />

    <ul class="list-disc my-3">
      {#each poll.answers as answer, i}
        <li>
          <span class="hover:cursor-pointer" on:click={removeAnswer(i)}>❌</span>
          <span class="font-bold">{answer}</span>
        </li>
      {/each}
    </ul>

    <div>
      <input
        id="isMulti"
        type="checkbox"
        bind:checked={poll.isMulti}
        class="inline-block w-2 mr-2 align-middle" />
      <label for="isMulti" class="font-bold align-middle">
        Allow multiple answers?
      </label>
    </div>

    <div class="mt-2">
      <input
        id="withNames"
        type="checkbox"
        bind:checked={poll.showResultsBeforeVoting}
        class="inline-block w-2 mr-2 align-middle" />
      <label for="withNames" class="font-bold align-middle">
        Show results before voting?
      </label>
    </div>

    <button
      class="btn mt-5"
      type="submit"
      on:click|preventDefault={submitForm}
      disabled={submitting}>
      Create Poll
    </button>
  </form>
{/if}
