<script>
  import autocomplete from 'accessible-autocomplete'
  import search from 'fuzzysearch'
  import day from 'dayjs'
  import utc from 'dayjs/plugin/utc'
  import isOnline from 'is-online'
  import { nanoid } from 'nanoid'
  import { onMount } from 'svelte'
  import { isDarkMode } from '../stores'
  import { pouch, replicateToCouch } from '../couch'
  import DateTimeGrid from '../components/DateTimeGrid.svelte'
  day.extend(utc)

  document.title = 'Create Event - Koro'
  let submitting = false
  let success = false
  let errorFlash = ''
  let durationInput = null
  let durationsList = [
    '15 minutes',
    '30 minutes',
    '45 minutes',
    '1 hour',
    '2 hours',
    '3 hours',
    '4 hours',
    '5 hours'
  ]
  let event = {
    _id: nanoid(),
    name: '',
    duration: '',
    times: []
  }
  let eventLink = ''

  async function submitForm() {
    errorFlash = ''
    submitting = true
    if (!event.name) {
      errorFlash = 'Please set a name for your event!'
      submitting = false
      return
    }

    if (!event.duration) {
      errorFlash = 'Please set a duration for your event!'
      submitting = false
      return
    }

    if (!durationsList.includes(event.duration)) {
      errorFlash = 'The duration must be picked from the provided list!'
      submitting = false
      return
    }

    if (event.times.length === 0) {
      errorFlash = 'Please pick at least one event time!'
      submitting = false
      return
    }

    const db = await pouch()
    try {
      const res = await db.put({
        times: event.times.map((e) => day(e).utc().format()),
        ...event
      })
      await replicateToCouch()
      success = true
      eventLink = `https://koro.moe/${res.id}`
    } catch (e) {
      console.error(e)
    }
  }

  function durationSource(query, cb) {
    if (durationsList.includes(query)) cb([])
    const filtered = durationsList.filter((d) => search(query, d))
    cb(filtered)
  }

  onMount(async () => {
    if (!(await isOnline())) {
      errorFlash = `You're offline! This means you can still create an event, but you'll have to be online before you can share the link with others.`
    }
    autocomplete({
      element: document.querySelector('#duration-mount'),
      id: 'duration',
      source: durationSource,
      confirmOnBlur: false,
      onConfirm: (opt) => {
        event.duration = opt
      }
    })
  })
</script>

<h1 class="text-5xl font-serif font-extrabold">Create Event</h1>
{#if success}
  <p class="text-2xl font-medium max-w-xl leading-normal">
    Your event has successfully been created! You can share the link below with
    anyone you want to invite, and they can set their available times from the
    ones you picked out. Don't forget to fill it out yourself!
  </p>

  <div
    class="text-2xl font-mono bg-black text-white max-w-xl w-full px-3 py-2 mt-5
    text-center">
    {eventLink}
  </div>
{:else}
  <form class="max-w-xl mt-6" on:submit|preventDefault={submitForm}>
    {#if errorFlash}
      <div
        class="w-full bg-red-100 px-3 py-2 border rounded border-red-400
        text-red-600 my-5">
        {errorFlash}
      </div>
    {/if}
    <label
      for="name"
      class="font-bold text-gray-300"
      class:text-gray-600={!$isDarkMode}>
      Your event's name
    </label>
    <input
      id="name"
      type="text"
      bind:value={event.name}
      class:dark={$isDarkMode}
      placeholder="Raid with the boys" />
    <label
      for="duration"
      class="font-bold text-gray-300 inline-block mt-4"
      class:text-gray-600={!$isDarkMode}>
      Duration of the event
    </label>
    <div id="duration-mount" class="mb-5" class:dark={$isDarkMode} />
    <label class="font-bold text-gray-300" class:text-gray-600={!$isDarkMode}>
      Event start times
    </label>
  </form>
  <DateTimeGrid startDate={new Date()} bind:selected={event.times} />
  <button
    class="btn mt-5"
    type="submit"
    on:click|preventDefault={submitForm}
    disabled={submitting}>
    Create event
  </button>
{/if}
