<script>
  export let params

  import day from 'dayjs'
  import utc from 'dayjs/plugin/utc'
  import relativeTime from 'dayjs/plugin/relativeTime'
  import { onMount, onDestroy } from 'svelte'
  import { get } from 'svelte/store'
  import navaid from 'navaid'
  import { pouch, replicateToCouch, syncDoc } from '../couch'
  import ResponseGrid from '../components/ResponseGrid.svelte'
  import { hasResponded, is24Hrs, isDarkMode } from '../stores'
  day.extend(utc)
  day.extend(relativeTime)

  let loading = true
  let live = null
  let errorFlash = ''
  let error = ''
  let event = {}
  let name = ''
  let responses = {}

  async function onSubmit() {
    if (!name) {
      errorFlash = 'Please enter a name!'
      return
    }

    if (Object.keys(responses).length === 0) {
      errorFlash = 'Please select at least one time!'
      return
    }

    // TODO: Sync the document so we can make sure we have the
    // most recent available version, which would reduce conflicts.

    const db = await pouch()
    let responsesToPut = event.responses || new Object()
    responsesToPut[name] = responses
    try {
      await db.put({
        responses: responsesToPut,
        ...event
      })
      const newResponded = get(hasResponded) || new Object()
      newResponded[params.id] = {
        name
      }
      hasResponded.set(newResponded)
      await getEvent()
    } catch (e) {
      console.error(e)
    }
  }

  function toggleYes(date) {
    const d = day.utc(date).format()
    if (responses[d] === 'yes') {
      responses[d] = ''
      return
    }
    responses[d] = 'yes'
  }

  function toggleMaybe(date) {
    const d = day.utc(date).format()
    if (responses[d] === 'maybe') {
      responses[d] = ''
      return
    }
    responses[d] = 'maybe'
  }

  function toggleNo(date) {
    const d = day.utc(date).format()
    if (responses[d] === 'no') {
      responses[d] = ''
      return
    }
    responses[d] = 'no'
  }

  async function getEvent() {
    const db = await pouch()
    try {
      event = await db.get(params.id)
      loading = false
      document.title = `${event.name} - Koro`
      if (event.question) {
        navaid().route(`/p/${params.id}`)
      }
    } catch (e) {
      error =
        "Couldn't fetch the event you're looking for. Do you have the right link? Or maybe you're offline?"
      loading = false
      throw new Error('No document exists!')
    }
  }

  onMount(async () => {
    // We make sure our changes are in the Couch, just in case we're coming
    // back from being offline.
    try {
      await replicateToCouch()
    } catch (e) {
      console.error(e)
    }
    // We try to fetch the event from the database first.
    try {
      await getEvent()
    } catch (e) {
      loading = true
      error = ''
    }
    // Then, we set up a two-way replication (a sync) between specifically the
    // current document and the local PouchDB. We only sync the current document
    // because syncing the whole DB would be completely overkill, and we only
    // really need to know about the documents that we can see.
    live = syncDoc(params.id)
    if (live) {
      live.on('change', change => {
        // If a change to the document is detected, pull from the PouchDB, triggering
        // a rerender.
        if (change.direction === 'pull') {
          event = change.change.docs[0]
        }
      })
      live.on('error', (err) => {
        console.error(err)
      })
    }
  })

  onDestroy(() => {
    if (live) {
      live.cancel()
    }
  })
</script>

{#if loading}
  Loading event information. You might need to refresh the page.
{:else if !loading && error}
  {error}
{:else}
  <h1 class="text-5xl font-serif font-extrabold">{event.name}</h1>
  <div class="max-w-xl">
    {#if errorFlash}
      <div
        class="w-full bg-red-100 px-3 py-2 border rounded border-red-400
        text-red-600 my-5">
        {errorFlash}
      </div>
    {/if}
  </div>
  {#if !event.responses || event.responses.length === 0}
    <p class="text-xl mb-5 max-w-xl">
      Someone has shared this event and wants you to indicate your availability
      at the specified times! Fill out the form to tell them when you're free.
    </p>
    <p class="text-xl">No responses yet. You can be the first!</p>
  {:else}
    <ResponseGrid times={event.times} responses={event.responses} />
  {/if}

  {#if !$hasResponded || !$hasResponded[params.id]}
    <form class="mt-5 max-w-xl" on:submit|preventDefault={onSubmit}>
      <label
        for="name"
        class="font-bold text-gray-300"
        class:text-gray-800={!$isDarkMode}>
        Your name
      </label>
      <input type="text" class:dark={$isDarkMode} bind:value={name} />
      <div class="grid mt-4 grid-cols-3-1">
        <div class="text-center">Yes</div>
        <div class="text-center">Maybe</div>
        <div class="text-center">No</div>
        <div />
        {#each event.times.sort((a, b) => day.utc(a).isAfter(day.utc(b))) as t}
          <div
            class:bg-green-400={responses[day.utc(t).format()] === 'yes'}
            class:border-gray-400={!$isDarkMode}
            class:border-gray-700={$isDarkMode}
            class="border hover:cursor-pointer"
            on:click={() => toggleYes(t)} />
          <div
            class:bg-yellow-400={responses[day.utc(t).format()] === 'maybe'}
            class:border-gray-400={!$isDarkMode}
            class:border-gray-700={$isDarkMode}
            class="border hover:cursor-pointer"
            on:click={() => toggleMaybe(t)} />
          <div
            class:bg-red-400={responses[day.utc(t).format()] === 'no'}
            class:border-gray-400={!$isDarkMode}
            class:border-gray-700={$isDarkMode}
            class="border hover:cursor-pointer"
            on:click={() => toggleNo(t)} />
          <div class="ml-3">
            <span class="font-bold">
              <span class="text-center block lg:inline">
                {day.utc(t).local().format('DD/MM/YYYY')}
              </span>
              <span class="text-center block lg:inline">
                {day
                  .utc(t)
                  .local()
                  .format($is24Hrs ? 'HH:mm' : 'hh:mma')}
              </span>
            </span>
            <span class="hidden lg:block">
              ({day.utc(t).local().fromNow()})
            </span>
          </div>
        {/each}
      </div>

      <button class="btn mt-5" on:click|preventDefault={onSubmit}>
        Submit
      </button>
    </form>
  {:else}
    <p class="max-w-xl mt-5 text-xl">You already responded to this event!</p>
  {/if}
{/if}
