<script>
  import { isDarkMode } from '../stores'

  document.title = 'Koro'
</script>

<h1 class="text-5xl font-serif font-extrabold">Koro</h1>
<p class="text-2xl font-medium max-w-xl leading-normal">
  An event time planning site for the rest of us. You can plan event
  times with as many people as you like, run polls, or simply display a bunch
  of times in the user's timezone. It also (kind of) works when you're offline,
  and it's free!
</p>

<ul class="list-disc text-2xl mt-4">
  <li><a class="text-purple-400" href="/event">/event</a> - Flexibly schedule an event time with other people</li>
  <li><a class="text-purple-400" href="/poll">/poll</a> - Create a poll</li>
  <li><a class="text-purple-400" href="/times">/times</a> - Display times in the user's timezone</li>
</ul>
