<script>

</script>

<a href="/" class="text-blue-600 mb-3">Back to index</a>

<h1 class="text-5xl font-serif font-extrabold">koro Update Log</h1>

<section class="max-w-xl mb-3 new">
  <h2 class="text-2xl" id="141">Version 1.4.1</h2>
  <ul class="list-disc ml-4 pb-2">
    <li>Fixed the page title not being set correctly in some transitions.</li>
  </ul>
</section>

<section class="max-w-xl mb-3">
  <h2 class="text-2xl" id="140">Version 1.4.0</h2>
  <ul class="list-disc ml-4 pb-2">
    <li>Koro now supports <a href="/poll" class="text-purple-400">polls</a>!</li>
    <li>Real-time was (as far as I know) broken for a long time. It works again now.</li>
    <li>
      Fixed the dark theme being half-applied sometimes, because of multiple things
      happening in parallel and causing a *shudders* race condition.
    </li>
    <li>Added a link to the index page in the footer.</li>
  </ul>
</section>

<section class="max-w-xl mb-3">
  <h2 class="text-2xl" id="132">Version 1.3.2</h2>
  <ul class="list-disc ml-4 pb-2">
    <li>
      Fixed a clashing color combination on the response grid (white text on
      yellow is not good!)
    </li>
  </ul>
</section>

<section class="max-w-xl mb-3">
  <h2 class="text-2xl" id="131">Version 1.3.1</h2>
  <ul class="list-disc ml-4 pb-2">
    <li>Made input colors less... bright in, uh, dark mode.</li>
  </ul>
</section>

<section class="max-w-xl mb-3">
  <h2 class="text-2xl" id="130">Version 1.3.0</h2>
  <ul class="list-disc ml-4 pb-2">
    <li>
      Added a dark mode! This can be toggled in the site footer, and should
      automatically set based on your browser's or computer's preferences.
    </li>
  </ul>
</section>

<section class="max-w-xl mb-3">
  <h2 class="text-2xl" id="120">Version 1.2.0</h2>
  <ul class="list-disc ml-4 pb-2">
    <li>
      Added online-only syncing as a fallback method. Koro usually uses a local,
      in-browser database to store data before it's uploaded to our server
      database, but doing that can be iffy and straight up not work for some
      people (due to browsers being inconsistent in implementations). If for
      whatever reason that ends up happening, Koro will now prefer directly
      using our server database. This means that you won't be able to use
      offline event creation anymore, but I hope this doesn't happen to very
      many people, and it's still better than not being able to use the website
      at all.
    </li>
    <li>
      Koro is now responsive! You can use it on your phone and it won't
      completely break. The response view has been simplified if you're on
      mobile or have an event with a lot of possible times, too.
    </li>
    <li>A notice is now displayed on the index page if you're offline.</li>
    <li>
      You can now view all possible times in the response grid view, where
      previously it would only show up to 9.
    </li>
    <li>Added a 'back to index' link for this page.</li>
  </ul>
</section>

<section class="max-w-xl mb-3">
  <h2 class="text-2xl" id="110">Version 1.1.0</h2>
  <ul class="list-disc ml-4">
    <li>
      Added the ability to convert between AM/PM and 24-Hour display. You can
      toggle this in the site footer.
    </li>
    <li>Added this update log!</li>
    <li>
      Fixed a bug where you could keep scrolling to the right on the time select
      grid, which made everything bug out.
    </li>
  </ul>
</section>

<section class="max-w-xl pl-3">
  <h2 class="text-2xl" id="100">Version 1.0.0</h2>
  <ul class="list-disc ml-4">
    <li>Initial release!</li>
  </ul>
</section>
