<script>
  export let params

  import colormap from 'colormap'
  import contrast from 'font-color-contrast'
  import { onMount, onDestroy } from 'svelte'
  import { get } from 'svelte/store'
  import { nanoid } from 'nanoid'
  import { pouch, replicateToCouch, syncDoc } from '../couch'
  import { hasResponded, isDarkMode } from '../stores'

  let loading = true
  let live = null
  let errorFlash = ''
  let poll = {}
  let votes = []
  let multiSelection = []
  let colors = null

  async function getPoll() {
    const db = await pouch()
    try {
      poll = await db.get(params.id)
      colors = colormap({
        colormap: 'winter',
        nshades: poll.answers.length,
        format: 'hex',
        alpha: 1
      })
      calcVotes()
      loading = false
      document.title = `${poll.question} - Koro`
    } catch (e) {
      errorFlash = `Couldn't fetch the poll you're looking for. Do you have the right link? Or maybe you're offline?`
      throw new Error('No document exists!')
    }
  }

  function getStyle(i) {
    return `background-color: ${colors[i]}; color: ${contrast(colors[i])}`
  }

  function calcVotes() {
    if (poll.responses) {
      votes = poll.answers.map((_a, i) => {
        return Object.values(poll.responses).reduce((acc, j) => {
          if (poll.isMulti) {
            return j.includes(Number(i)) ? acc + 1 : acc
          }
          return i === j ? acc + 1 : acc
        }, 0)
      })
    }
  }

  function answerClick(i) {
    return () => {
      if (poll.isMulti && multiSelection.includes(i)) {
        multiSelection.splice(multiSelection.indexOf(i), 1)
      } else if (poll.isMulti) {
        multiSelection.push(i)
      } else {
        submitSingle(i)
      }
      poll = poll
      multiSelection = multiSelection
    }
  }

  async function submitSingle(i) {
    await putDoc(i)
  }

  async function submitMulti() {
    await putDoc(multiSelection)
  }

  function hasMostVotes(i) {
    const max = Math.max(...votes)
    let indices = []
    votes.forEach((v, j) => {
      if (v === max) {
        indices.push(j)
      }
    })
    if (indices.length > 1) {
      return indices.some((f) => f === i)
    }
    return indices[0] === i
  }

  function countVotes(i) {
    return votes[i]
  }

  function totalVotes() {
    return votes.reduce((acc, j) => acc + j)
  }

  async function putDoc(contents) {
    const db = await pouch()
    const respondent = nanoid()
    let responsesToPut = poll.responses || new Object()
    responsesToPut[respondent] = contents
    try {
      await db.put({
        responses: responsesToPut,
        ...poll
      })
      const newResponded = get(hasResponded) || new Object()
      newResponded[params.id] = {
        name: respondent
      }
      hasResponded.set(newResponded)
      await getPoll()
    } catch (e) {
      console.error(e)
    }
  }

  onMount(async () => {
    // Make sure our changes are in the remote Couch
    try {
      await replicateToCouch()
    } catch (e) {
      console.error(e)
    }

    // Try and get poll information from the database
    try {
      await getPoll()
    } catch (e) {
      loading = true
      errorFlash = ''
    }

    // Set up replication
    live = syncDoc(params.id)
    if (live) {
      live
        .on('change', change => {
          if (change.direction === 'pull') {
            poll = change.change.docs[0]
            calcVotes()
          }
        })
        .on('error', (err) => {
          console.error(err)
        })
    }
  })

  onDestroy(() => {
    if (live) {
      live.cancel()
    }
  })
</script>

{#if loading}
  Loading poll information. You might need to refresh the page.
{:else if loading && errorFlash}
  {errorFlash}
{:else}
  <h1 class="text-5xl font-serif font-extrabold">{poll.question}</h1>
  <div class="max-w-xl">
    {#if errorFlash}
      <div
        class="w-full bg-red-100 px-3 py-2 border rounded border-red-400
        text-red-600 my-5">
        {errorFlash}
      </div>
    {/if}
  </div>
  {#if !poll.responses || poll.responses.length === 0}
    <p class="text-xl mb-5 max-w-xl">
      Someone has shared this poll and wants you to give your answer! You can be
      the first!
    </p>
  {:else if (poll.showResultsBeforeVoting && poll.responses) || $hasResponded[params.id]}
    <div class="max-w-xl">
      {#each poll.answers as answer, i (answer)}
        <div style={getStyle(i)} class="rounded-t text-center py-3 px-3">
          {answer}
        </div>
        <div
          class="rounded-b mb-4 py-3 px-3 text-center"
          class:bg-green-500={hasMostVotes(i)}
          class:bg-red-500={!hasMostVotes(i)}>
          {countVotes(i)} votes
        </div>
      {/each}
    </div>
  {/if}

  {#if !$hasResponded || !$hasResponded[params.id]}
    {#if poll.isMulti}
      <p class="text-xl mb-4 max-w-xl">This poll supports multiple answers.</p>
    {/if}
    <h2 class="text-3xl font-serif font-extrabold">Respond to this poll</h2>
    {#each poll.answers as answer, i}
      <div
        class="rounded py-3 px-3 mb-3 shadow-xl hover-box"
        class:hover-box-selected={poll.isMulti && multiSelection.includes(i)}
        class:border-white={$isDarkMode && multiSelection.includes(i)}
        class:border-black={!$isDarkMode && multiSelection.includes(i)}
        style={getStyle(i)}
        on:click={answerClick(i)}>
        {answer}
      </div>
    {/each}

    {#if poll.isMulti}
      <button
        class="btn mt-5"
        disabled={multiSelection.length === 0}
        on:click={submitMulti}>
        Submit
      </button>
    {/if}
  {:else}You've already responded to this poll!{/if}
{/if}
