<script>
  import day from 'dayjs'
  import relativeTime from 'dayjs/plugin/relativeTime'
  import { is24Hrs, isDarkMode } from '../stores'
  day.extend(relativeTime)

  export let startDate
  export let selected = []
  let day1 = null
  let datesDay1 = []
  let day2 = null
  let datesDay2 = []
  let day3 = null
  let datesDay3 = []
  let view = [25, 35]
  initDays(day(startDate))

  function initDays(start) {
    let first = start.startOf('day')
    day1 = first
    datesDay1 = [first]
    let indexDay1 = first
    while (indexDay1.add(30, 'minutes').date() === day1.date()) {
      indexDay1 = indexDay1.add(30, 'minutes')
      datesDay1.push(indexDay1)
    }
    day2 = day1.add(1, 'days').startOf('day')
    datesDay2 = [day2]
    let indexDay2 = day2
    while (indexDay2.add(30, 'minutes').date() === day2.date()) {
      indexDay2 = indexDay2.add(30, 'minutes')
      datesDay2.push(indexDay2)
    }
    day3 = day2.add(1, 'days').startOf('day')
    datesDay3 = [day3]
    let indexDay3 = day3
    while (indexDay3.add(30, 'minutes').date() === day3.date()) {
      indexDay3 = indexDay3.add(30, 'minutes')
      datesDay3.push(indexDay3)
    }
  }

  function previousDay() {
    if (day1.date() !== day(startDate).date()) {
      initDays(day1.subtract(1, 'day').startOf('day'))
    }
  }

  function addOrRemove(date) {
    if (day().isAfter(date)) return
    if (selected.includes(date.toISOString())) {
      let c = selected
      c.splice(selected.indexOf(date.toISOString()), 1)
      selected = c
    } else {
      selected = [...selected, date.toISOString()]
    }
  }

  function nextDay() {
    initDays(day1.add(1, 'day').startOf('day'))
  }
</script>

<div
  class="grid grid-cols-4 lg:grid-cols-11 w-full max-w-5xl datetimegrid"
  class:dark={$isDarkMode}>
  <div
    class="block lg:hidden text-xs bg-black text-white"
    on:click={() => (view = view[1] < datesDay1.length ? [view[0] + 1, view[1] + 1] : view)}>
    +30 mins
  </div>
  <div
    class="block lg:hidden text-xs bg-black text-white"
    on:click={() => (view = view[0] !== 0 ? [view[0] - 1, view[1] - 1] : view)}>
    -30 mins
  </div>
  <div class="block lg:hidden text-xs bg-black text-white" on:click={nextDay}>
    +1 day
  </div>
  <div
    class="block lg:hidden text-xs bg-black text-white"
    on:click={previousDay}>
    -1 day
  </div>
  <div
    class="text-center hidden lg:block hover:cursor-pointer"
    on:click={previousDay}>
    {day1.date() === day(startDate).date() ? '' : '▲'}
  </div>
  <div
    class="text-center hidden lg:block hover:cursor-pointer"
    on:click={() => (view = view[0] !== 0 ? [view[0] - 1, view[1] - 1] : view)}>
    {view[0] !== 0 ? '‹' : ''}
  </div>
  <div class="col-span-8 hidden lg:block" />
  <div
    class="text-center hidden lg:block hover:cursor-pointer"
    on:click={() => (view = view[1] < datesDay1.length ? [view[0] + 1, view[1] + 1] : view)}>
    {view[1] < datesDay1.length ? '›' : ''}
  </div>
  <div class="font-bold col-span-4 lg:col-span-1">
    {day1.date() === day(startDate).date() ? 'today' : day1
          .endOf('day')
          .fromNow()}
  </div>
  {#each datesDay1.slice(view[0], view[1]) as t}
    <div
      class="text-center time col-span-4 lg:col-span-1 hover:cursor-pointer"
      class:text-gray-600={day().isAfter(t)}
      class:time-unselectable={day().isAfter(t)}
      class:bg-purple-600={!day().isAfter(t) && selected.includes(t.toISOString())}
      class:text-white={!day().isAfter(t) && selected.includes(t.toISOString())}
      on:click={() => addOrRemove(t)}>
      {t.format($is24Hrs ? 'HH:mm' : 'hh:mma')}
    </div>
  {/each}

  <div class="col-span-4 lg:col-span-1">
    {day2.date() === day(startDate).date() ? 'today' : day2
          .endOf('day')
          .fromNow()}
  </div>
  {#each datesDay2.slice(view[0], view[1]) as t}
    <div
      class="text-center time col-span-4 lg:col-span-1 hover:cursor-pointer"
      class:bg-purple-600={selected.includes(t.toISOString())}
      class:text-white={selected.includes(t.toISOString())}
      on:click={() => addOrRemove(t)}>
      {t.format($is24Hrs ? 'HH:mm' : 'hh:mma')}
    </div>
  {/each}

  <div class="col-span-4 lg:col-span-1">
    {day3.date() === day(startDate).date() ? 'today' : day3
          .endOf('day')
          .fromNow()}
  </div>
  {#each datesDay3.slice(view[0], view[1]) as t}
    <div
      class="text-center time col-span-4 lg:col-span-1 hover:cursor-pointer"
      class:bg-purple-600={selected.includes(t.toISOString())}
      class:text-white={selected.includes(t.toISOString())}
      on:click={() => addOrRemove(t)}>
      {t.format($is24Hrs ? 'HH:mm' : 'hh:mma')}
    </div>
  {/each}
  <div
    class="text-center hidden lg:block hover:cursor-pointer"
    on:click={nextDay}>
    ▼
  </div>
</div>

<div class="mt-2">
  {selected.length} potential time{selected.length === 1 ? '' : 's'} selected:
  <ul class="list-disc">
    {#each selected as s}
      <li>
        <span class="font-bold">
          {day(s).format(`DD/MM/YYYY ${$is24Hrs ? 'HH:mm' : 'hh:mma'}`)}
        </span>
        ({day(s).fromNow()})
      </li>
    {/each}
  </ul>
</div>
