<script>
  export let times
  export let responses
  import day from 'dayjs'
  import utc from 'dayjs/plugin/utc'
  import { onDestroy } from 'svelte'
  import { is24Hrs, isDarkMode } from '../stores'
  day.extend(utc)

  $: hasManyTimes = times.length > 10
  let windowWidth = window.innerWidth

  window.addEventListener('resize', updateWindowSize)

  function reduceStatus(status, time) {
    return Object.values(responses).reduce((acc, r) => {
      if (r[day.utc(time).format()] === status) return acc + 1
      return acc
    }, 0)
  }

  function updateWindowSize() {
    windowWidth = window.innerWidth
  }

  onDestroy(() => {
    window.removeEventListener('resize', updateWindowSize)
  })
</script>

{#if !hasManyTimes && windowWidth > 1024}
  <div class="grid grid-cols-12">
    <div class="col-span-2" />
    {#each times as t}
      <div class="text-center">
        {day
          .utc(t)
          .local()
          .format(`DD/MM ${$is24Hrs ? 'HH:mm' : 'hh:mma'}`)}
      </div>
    {/each}
    {#if times.length < 10}
      {#each new Array(10 - times.length) as a}
        <div />
      {/each}
    {/if}
    {#each Object.keys(responses) as name}
      <div class="col-span-2">{name}</div>
      {#each times as t}
        <div
          class:bg-green-200={responses[name][day.utc(t).format()] === 'yes'}
          class:bg-yellow-200={responses[name][day.utc(t).format()] === 'maybe'}
          class:bg-red-200={responses[name][day.utc(t).format()] === 'no'} />
      {/each}
      {#if times.length < 10}
        {#each new Array(10 - times.length) as a}
          <div />
        {/each}
      {/if}
    {/each}
    <div class="col-span-2" />
    {#each times as t}
      <div
        class="text-center"
        class:bg-yellow-300={reduceStatus('yes', t) >= Object.values(responses).length / 2}
        class:text-gray-800={reduceStatus('yes', t) >= Object.values(responses).length / 2 && $isDarkMode}
        class:bg-green-500={reduceStatus('yes', t) === Object.values(responses).length}
        class:text-white={reduceStatus('yes', t) === Object.values(responses).length}>
        {reduceStatus('yes', t)}/{Object.values(responses).length}
      </div>
    {/each}
  </div>
{:else}
  <div class="grid grid-cols-2 max-w-lg">
    {#each times as t}
      <div class="text-center font-bold py-2">
        {day
          .utc(t)
          .local()
          .format(`DD/MM ${$is24Hrs ? 'HH:mm' : 'hh:mma'}`)}
      </div>
      <div
        class="py-2 text-center rounded-sm"
        class:bg-green-500={reduceStatus('yes', t) === Object.values(responses).length}
        class:bg-yellow-300={reduceStatus('yes', t) >= Object.values(responses).length / 2}
        class:text-gray-800={reduceStatus('yes', t) >= Object.values(responses).length / 2 && $isDarkMode}
        class:text-white={reduceStatus('yes', t) === Object.values(responses).length}>
        {reduceStatus('yes', t)}/{Object.values(responses).length}
      </div>
    {/each}
  </div>
{/if}
