<script>
  import navaid from 'navaid'
  import { is24Hrs, isDarkMode } from './stores'
  import Index from './pages/Index.svelte'
  import CreateEvent from './pages/CreateEvent.svelte'
  import CreateTimes from './pages/CreateTimes.svelte'
  import Event from './pages/Event.svelte'
  import CreatePoll from './pages/CreatePoll.svelte'
  import Poll from './pages/Poll.svelte'
  import Log from './pages/Log.svelte'

  export let router = navaid()
  let route
  let routeParams

  router.on('/', setRoute(Index))
  router.on('/event', setRoute(CreateEvent))
  router.on('/times', setRoute(CreateTimes))
  router.on('/poll', setRoute(CreatePoll))
  router.on('/updates', setRoute(Log))
  router.on('/p/:id', setRoute(Poll))
  router.on('/:id', setRoute(Event))

  router.listen()

  isDarkMode.subscribe((mode) => {
    if (mode === null && window.matchMedia) {
      const matches = window.matchMedia('(prefers-color-scheme: dark)').matches
      isDarkMode.set(matches)
      if (matches) {
        document.body.className = 'bg-gray-900'
      } else {
        document.body.className = 'bg-gray-100'
      }
    }
    if (mode) {
      document.body.className = 'bg-gray-900'
    } else {
      document.body.className = 'bg-gray-100'
    }
  })

  function setRoute(r) {
    return (params) => {
      route = r
      routeParams = params
    }
  }
</script>

<div class="w-screen" class:text-gray-100={$isDarkMode}>
  <main class="w-full max-w-screen-xl mx-auto px-6 pt-5">
    <svelte:component this={route} bind:params={routeParams} />

    <hr class="border-gray-300 mt-5 mb-2 max-w-xl" />
    <div
      class="text-center text-sm max-w-xl text-gray-100"
      class:text-gray-800={!$isDarkMode}>
      <a href="/" class="text-purple-400">koro</a> v{process.version} by
      <a
        class="text-purple-400"
        class:text-purple-600={!$isDarkMode}
        href="https://mokou.org">
        Marisa
      </a>
      (<a
        class="text-purple-400"
        class:text-purple-600={!$isDarkMode}
        href="https://git.touhou.cz/mokou/koro">
        source</a>)
      <br />
      <span
        class="text-purple-400 hover:cursor-pointer"
        class:text-purple-600={!$isDarkMode}
        on:click={is24Hrs.set(!$is24Hrs)}>
        {#if $is24Hrs}toggle AM/PM{:else}toggle 24-hours{/if}
      </span>
      &bull;
      <span
        class="text-purple-400 hover:cursor-pointer"
        class:text-purple-600={!$isDarkMode}
        on:click={isDarkMode.set(!$isDarkMode)}>
        {#if $isDarkMode}set light mode{:else}set dark mode{/if}
      </span>
      &bull;
      <a
        class="text-purple-400"
        class:text-purple-600={!$isDarkMode}
        href="/updates">
        update log
      </a>
    </div>
  </main>
</div>
