@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/Inter-Regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

body {
  font-family: 'Inter';
  margin: 0 !important;
  padding: 0 !important;
}

input {
  @apply block w-full px-5;
  background-color: #fff;
  border-color: #d2d6dc;
  border-width: 1px;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

input.dark,
.dark input,
.dark .autocomplete__option {
  @apply text-gray-100 bg-gray-800 border-gray-600;
}

.btn {
  @apply px-3 py-2 font-bold bg-purple-600 text-white border-purple-600 rounded-sm;
  font-family: 'Inter';
}

.btn:not(:disabled):active {
  @apply bg-purple-600 text-white;
}

.btn[disabled] {
  @apply text-white bg-purple-400 border-purple-400 cursor-not-allowed;
}

.datetimegrid div {
  @apply px-2 py-2 border transition duration-300;
}

.datetimegrid.dark div {
  @apply border-gray-800;
}

.datetimegrid div.time:hover {
  @apply bg-purple-600 text-white;
}

.datetimegrid div.time-unselectable:hover {
  @apply bg-white text-gray-600 cursor-not-allowed;
}

.new {
  @apply border-blue-400 border-l-2;
}

.new > * {
  @apply pl-3;
}

.hover-box {
  transition: 0.5s transform;
  border: 1px solid transparent;
}

.hover-box:hover {
  transform: scale(0.99);
  cursor: pointer;
}

.hover-box-selected {
  transform: scale(0.99);
  border: 1px solid white;
}

.autocomplete__menu {
  @apply w-full bg-white border border-gray-400 rounded border-t-0;
}

.autocomplete__option {
  @apply text-lg transition duration-300 px-3 py-2;
}

.autocomplete__option:hover {
  @apply cursor-pointer bg-purple-600 text-white;
}

.autocomplete__menu--hidden {
  display: none;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}

.grid-cols-3-1 {
  grid-template-columns: 20% 20% 20% auto;
}

@media lg {
  .grid-cols-3-1 {
    grid-template-columns: 10% 10% 10% auto;
  }
}

@media sm {
  input {
    @apply text-sm leading-tight;
  }
}

@import 'tailwindcss/utilities';
